$background: #F8F8FF;
// $primary: #7C96ED;
$primary: #043249;
$secondary: #adc0ff;
$tertiarary:  #43b7ff;
$light: #fefefe;
$text-dark: #222121;
$orangered: #f43f3f;
$red: red;
$blue: #2541b2;
$orange: orange;
$purple: #dacdff;
